<!--Alterar Dados-->
<section id="AlterarDados" class="DadosAlt">
    <!--Imagem Lateral esquerda-->
    <div id="ImgLivroAlt">    
        <img src="images/{{imagemLivro}}.jpg" alt="/MarteJulioScheidner.jpg"> 
        <img src="images/{{imagemLivro}}livro1.jpg" alt="{{imagemLivro}}livro1.jpg">
    </div>

    <!--Imagem autor mais formulário-->
    <div id="DadosFormAlt">
        <form action="?pagina=Admin&metodo=Alterar" method="POST" id="FormAlterar">
          
                <input type="text" class="inputAlterarAutor"  size="20" name="NomeLivro" id="AltNomeLivro" value="{{Nome}}" placeholder="">
                <input type="text" class="inputAlterarAutor" name="Autor" id="AltAutor" value="{{Autor}}">
                <input type="text" class="inputAlterarAutor" name="Genero" id="AltGenero" value="{{Genero}}">
                <input type="text" class="inputAlterarAutor"name="Ano" id="AltAno" value="Ano">
                <input type="text" class="inputAlterarAutor" name="Valor" id="AltVal" value="Valor">
                <button name="Alterar" value="Alterar" id="EnviarAlteracao" >Enviar</button>
                <!--Passo o id do livro-->
                <input type="hidden" name="idLivro">
           
        </form>
    </div>
</section>