

       <!--Foco principal apresentação de conteúdo-->
    <main>

        <aside id="area2">
            <img src="images/store-984393_640.jpg" alt="img">
        </aside>

        <section id="area1">
            <div id="apreCabecalho">
                <h1 class="conf1">Titulo de teste apenas</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium saepe vel nobis quam, minus facilis, corporis commodi dolorem cumque atque perferendis et eligendi tempore at? Hic illo eos facilis sunt!</p>
            </div>
        </section>



    </main>

