<section id="areadeentrada">
    <section id="Cadastrar">
        <h1>Cadastrar</h1>
        <!--Formulário-->
        <form action="?pagina=Usuario&metodo=cadastrar" method="Post">
            
            <input type="text" placeholder="Nome" name="Nome">

            <input type="text" placeholder="Login" name="Login">
            
            <input type="password" placeholder="Senha" name="Senha">
            <input type="email" placeholder="Email" name="Email">

            <input  type="hidden" name="Status"value="Usuario">
            <button>Cadastrar</button>
         </form>
    
    </section>

    <section id="Login">
        <!--Formulário-->
        <h1>Login</h1>
        <form action="?pagina=Usuario&metodo=login" method="Post">
            <input type="text" placeholder="Login" name="Login">

            <input type="password" placeholder="Senha" name="Senha">
            <button>Logar</button>
         </form>
    
    </section>




</section>